@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

* {
    background-color: rgb(26, 26, 26);
    font-family: "Inconsolata", monospace;
    color: white;
}

.Principal header img {
    border-radius: 100px;
    border: 3px solid;
    border-color: brown;
    margin: auto;
    display: block;
}

.Principal {
    margin: 100px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.Principal ul {
    list-style-type: none;
    font-size: large;
    line-height: 180%;
}

.Principal li a,
h4 a {
    text-decoration: none;
    background-color: brown;
    border: 2px solid brown;
    border-left: 7px solid brown;
    border-right: 7px solid brown;
    border-radius: 30px;
    margin-right: 3%;
}

.Principal p {
    text-align: center;
}

h3 {
    color: brown;
    font-size: 25px;
}

p {
    top: 150px;
    left: 230px;
    text-align: justify;
    font-weight: bold;
}

ul {
    list-style-type: circle;
}

.Info {
    margin: 100px;
    margin-top: 10;
    margin-left: 33%;
}

.Info h4 a {
    margin-left: 25%;
    font-size: larger;
}

.Exp {
    margin: 100px;
    margin-top: 15%;
    margin-left: 25%;
}

table,
td,
th {
    background-color: rgb(245, 133, 133);
    font-family: "Newsreader", serif;
    border-width: 20%;
    border: 2px solid rgb(26, 26, 26);
    border-collapse: collapse;
    color: black;
    font-size: medium;
    padding: 8px;
}

thead th,
tfoot td:last-of-type {

    background-color: brown;
    color: white;
}

.Exp h4 a {
    margin-left: 36%;
    font-size: larger;
}

.Cont {
    margin-left: 35%;
    margin-top: 10%;
}

label {
    font-size: 110%;
}

form input, textarea {
    width: 40%;
    background-color: rgb(40, 40, 40);
    border-color: rgb(73, 73, 73);
    border-style: solid;
    margin-bottom: 3%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

textarea {
    border: solid rgb(73, 73, 73) 2px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

form input:last-of-type {
    width: 15%;
    height: 5%;
    margin-top: 3%;
    margin-left: -27%;
    margin-bottom: 0%;
}

.Cont h4 a {
    margin-left: 19%;
    font-size: larger;
}