* {
    background-color: #D9CBBF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #260B01;
    margin: 0;
}

nav,
nav a {
    background-color: #593325;
    color: #D9CBBF;
    text-decoration: none;
    padding: 20px;
    border-collapse: collapse;
}

nav a:hover {
    background-color: #D9CBBF;
    color: #593325;
    border-bottom: 3px solid #593325;
}

.inicio {
    display: flex;
}

.apresentacao {
    width: 50%;
    height: 150px;
    padding: 20px;
    margin: 20px;
}

.apresentacao h2:first-of-type {
    text-align: center;
    padding-bottom: 50px;
    font-size: 45px;
}

p {
    margin-bottom: 50px;
    margin-left: 50px;
    font-size: 20px;
}

.apresentacao h2:last-of-type {
    text-align: center;
    padding-bottom: 40px;
    font-size: 35px;
}

input, textarea, label {
    margin-left: 50px;
}

input,
textarea {
    background-color: #E6D9CA;
    font-size: 20px;
    border-radius: 30PX;
    border: ridge 2px #593325;
    margin-top: 10px;
    margin-bottom: 10px;
}

input:first-of-type,
input:nth-of-type(2),
textarea {
    width: 300px;
}

label {
    font-size: 20px;
}

.imagens {
    width: 40%;
}

.foto {
    border-radius: 100%;
    margin-top: 30px;

}

.imagens a:first-of-type {
    margin-left: 240px;
}

.main {
    display: flex;
}

.info, .exp {
    width: 40%;
    height: 150px;
    padding: 20px;
    margin: 20px;
}


.info h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
}
.info ul li {
    text-align: left;
    list-style: circle;
    font-size: 20px;
    margin-left: 50px;
}

table, th, td {
    border: solid 2px #593325;
}

th, td {
    border-collapse: collapse;
}