* {
    background-color: #D9CBBF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #260B01;
    margin: 0;
}

nav,
nav a {
    background-color: #593325;
    color: #D9CBBF;
    text-decoration: none;
    padding: 20px;
}

nav a {
    border-right: 2px solid #D9CBBF;
}

.inicio {
    display: flex;
}

.apresentacao {
    width: 50%;
    height: 150px;
    padding: 20px;
    margin: 20px;
}

.apresentacao h2:first-of-type {
    text-align: center;
    padding-bottom: 50px;
}

p {
    margin-bottom: 50px;
}

.apresentacao h2:last-of-type {
    text-align: center;
    padding-bottom: 20px;
}

input,
textarea {
    background-color: #E6D9CA;
    font-size: 15px;
}

input:first-of-type,
input:nth-of-type(2) {
    width: 300px;
}

.imagens {
    width: 40%;
}

.foto {
    border-radius: 100%;
    margin-top: 30px;

}

.imagens a:first-of-type {
    margin-left: 140px;
}

.main {
    display: flex;
}

.info, .exp {
    width: 40%;
    height: 150px;
    padding: 20px;
    margin: 20px;
}


.info h2 {
    text-align: center;
    margin-bottom: 20px;
}
.info ul li {
    text-align: left;
    list-style: circle;
}
